* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.headline,
.check-out {
  margin-top: 5rem;
}

.banner {
  background-image: url("images/christopher-harris-57366-unsplash.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 85%;
  height: 40rem;
  background-color: black;
  padding-top: 5rem;
  padding-bottom: 15rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

h1 {
  color: lightgreen;
}

h2 {
  color: steelblue;
  font-size: 30px;
  font-weight: bold;
}

h3,
form {
  color: steelblue;
  font-size: 25px;
  font-weight: bold;
}

.dog-profile p {
  font-size: 18px;
}

.blog p {
  font-size: 20px;
}

main {
  max-width: 70%;
  margin: auto;
}

.index-main {
  display: flex;
  justify-content: space-between;
}

.highlight img,
.highlight p {
  max-width: 100%;
  height: auto;
}

.left-section {
  width: 70%;
  margin-top: 2rem;
}

.right-section {
  width: 30%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.right-section img,
.right-section p {
  width: 15rem;
}

.right-section h3 {
  font-size: 1rem;
}

footer {
  background-color: steelblue;
  height: 40rem;
  padding-top: 5rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
}

footer p {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

header nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: lightgrey;
}

header nav ul {
  padding-left: 0;
  margin-left: 0;
  max-width: 70%;
  margin: auto;
}

header nav li,
header nav a {
  color: steelblue;
}

header nav a {
  font-size: 30px;
}

footer nav li,
footer nav a {
  color: white;
}

footer nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

nav ul {
  display: flex;
  justify-content: flex-start;

}

nav li {
  color: black;
  font-size: 1rem;
  font-weight: bold;
  list-style: none;
  margin-right: 1rem;
}

nav li::after {
  content: '/';
  margin-left: 1rem;
}

header nav li::after {
  font-size: 30px;
}

nav li:last-child::after {
  content: ' ';
  margin-left: 0;
}

li a {
  text-decoration: none;
}

.blog {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.blog div:nth-child(2) {
  width: 100%;
  max-width: 50rem;
  margin: 0 auto 0 auto;
}

.blog img {
  width: 100%;
  max-width: 30rem;
  height: auto;
  margin: 0 auto 0 auto;
}

.dog-profile {
  width: 30%;
  margin: auto;
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}

.dog-profile div:nth-child(2) {
  padding-left: 1rem;
  padding-right: 1rem;
}

.dog-profile img {
  width: 100%;
  max-height: 10rem;
  object-fit: cover;
}

.dog-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.see-more-dogs {
  background-color: lightgrey;
  width: 15rem;
  height: 3rem;
  color: steelblue;
  border: none;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
}

.see-more-dogs a {
  text-decoration: none;
}

.check-out-form input[type=text],
.check-out-form input[type=email] {
  font-size: 40px;
  display: block;
  margin-bottom: 2rem;
}

.check-out-form input[type=radio] {
  margin-bottom: 2rem;
}

#pickupLocation {
  font-size: 40px;
  margin-bottom: 2rem;
}

input[type="button"] {
  width: 100%;
  height: 2.5rem;
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  border: none;
  margin-bottom: 5rem;
}

.check-out input[type=button],
input[type=submit] {
  width: 18rem;
  height: 2.5rem;
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  border: none;
  margin-bottom: 5rem;
}

@media (max-width: 768px) {
  .right-section {
    display: none;
    width: 0;
  }
  .left-section {
    width: 100%;
  }
  .dog-profile {
    width: 50%;
    margin: auto;
  }
}

@media (max-width: 375px) {
  .dog-profile {
    width: 100%;
    margin: auto;
  }
  .dog-profile img {
    width: 100%;
  }
  main input[type="button"] {
    width: 100%;
    margin: auto;
  }
}
